/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{ 
  --header-height: 3rem;
  --nav-width: 324px; 


  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Colors =====*/
  --hue-color: 250;
  --first-color: #CC4B2C;
  --first-color-dark: #662616; 
  --first-color-darken: #290F09; 
  --text-color: #54423d; 
  --first-color-light: #EAE7E6; 
  --first-color-lighten: #FFFAFA;
  --first-transparent-color: rgba(204, 75, 44, .7);
  --boxshadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --nav-color: var(--text-color);
  --background-color: #FFFAFA;

/* ======= DARK THEME STUFF ====*/

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --bigger-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --smallest-font-size: .65rem;

  /*===== Margins =====*/
  --mb-1: .5rem; 
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
  width: 100%;
}

h1,h2,h3,p{
  margin: 0;
}

h3{
  font-weight: var(--font-semi-bold);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section{
  padding: 4rem 0 2rem;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle{
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: .25rem;
  padding-bottom: 0.75rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% -2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu{
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: .5s;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-lighten);
  cursor: pointer;
}

.nav__item{
  margin-bottom: var(--mb-4);
  box-shadow: 5px 5px;
  width: 120px;
  color: var(--first-color-lighten);
}

.nav__link{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: .3s;
}

.nav__link:hover{
  color: var(--nav-color);
}

.nav__toggle{
  color: var(--first-color);
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__logo{
  color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  left: 0;
}

/*Active menu*/
.active{
  color: var(--nav-color);
}

/*===== HOME =====*/
.home__container{
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.home__data{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home__img{
  padding-top: 1.2rem;
  padding-left: 0.4rem;
  width: 160px;
  height: 160px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-5);
  margin-top: 3cm;
}

.home__img img{
  width: 155px;
}

.home__title{
  font-size: var(--h1-font-size);
  columns: var(--first-color);
  font-weight: var(--font-semi-bold);
  background-color: var(--background-color);
  z-index: 10;
}

.home__profession{
  font-size: var(--small-font-size);
  color: var(--first-color-dark);
  margin-bottom: 1.5em;
  background-color: var(--background-color);
  margin-top: 1em;
}

.home__social{
  margin-bottom: 4rem;
  margin-top: 1.5rem;
  background-color: var(--background-color);

}

.home__social-link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .4s;
}

.home__social-link:hover{
  background-color: var(--first-color-dark);
}

.home__button{
  width: 100%;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.button__light{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.button__light:hover{
  color: var(--first-color-lighten);
}

/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-4);
}

.about__img{
  width: 150px;
  border-radius: .5rem;
  margin: 0 auto;
}


.about__information{
  margin-bottom: var(--mb-4);
}

.about__information-title{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.about__information-data{
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}

.about__information-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-4);
}

.about__information-subtitle{
  display: block;
  font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small{
  font-size: small;
}

/* ===== SKILLS =====*/
.skills__container{
  row-gap: 2rem;
}

.skills__subtitle{
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.skills__data{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills__name{
  text-transform: uppercase;
}

.skills__bar{
  position: absolute;
  bottom: -.75rem;
  height: .25rem;
  background-color: var(--first-color);
}

.skills__pandas{
  width: 85%;
}

.skills__pytorch{
  width: 65%;
}

.skills__sklearn{
  width: 65%;
}

.skills__matplot{
  width: 70%;
}

.skills__sql{
  width: 70%;
}

.skills__git{
  width: 70%;
}

.skills__aws{
  width: 40%;
}

.skills__docker{
  width: 30%;
}

/* ===== Jobs =====*/
.timeline {
  position: relative;
  width: 660px;
  margin: auto;
  margin-top: 20px;
  padding: 2em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: var(--first-color-lighten);
  padding: 6px 10px;
  border-radius: 30px;
  font-weight: 600;
  text-align: left;
  color: var(--first-color);
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
  -moz-box-shadow: -1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
  box-shadow: -1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
  -moz-box-shadow: 1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
  box-shadow: 1px 1px 1px var(--first-color), 0 0 1px var(--first-color);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: var(--first-color-lighten);
  border-radius: 30px;
  border: 4px solid var(--first-color);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: var(--first-color-lighten);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: var(--first-color-lighten);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: var(--first-color);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  color: var(--first-color-darken);
  background-color: var(--first-color-lighten);
  border-radius: 20px;
  padding: 1em 1em 1em 1em;
  text-align: center;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ===== EDUCATION =====*/
.education__container{
  row-gap: 2rem;
}

.education__content{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin-bottom: 2rem;
}

.education__race{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.education__year{
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.education__university, .education_speciality{
  display: block;
  font-size: var(--smaller-font-size);
}

.education__year, .education__university{
  text-align: right;
}

.education__time{
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder{
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.education__rounder::before{
  content: '';
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.education__line{
  display: block;
  height: 60%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}

/* ===== WORKS =====*/
.works__container{
  justify-items: center;
  row-gap: 2rem;
}

.works__img{
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
}


.works__data{
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--first-transparent-color);
  border-radius: .5rem;
  transition: .3s;
}

.works__link{
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  margin-bottom: var(--mb-2);
}

.works__title{
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}

.works__img:hover .works__data{
  bottom: 0;
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description{
  margin-bottom: var(--mb-2);
}

.footer__social{
  margin-bottom: 3rem;
}

.footer__link{
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer__link:hover{
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/* =======  Chatbot CSS ===== */
.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;

}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background: orange;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.messages__item {
  background: orange;
  max-width: 60.6%;
  width: fit-content;
}

.messages__item--operator {
  margin-left: auto;
}

.messages__item--visitor {
  margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.chatbox__support {
  background: #f9f9f9;
  height: 700px;
  width: 350px;
  box-shadow: var(--boxshadow);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: .9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
}

.messages__item {
  margin-top: 10px;
  background: #E0E0E0;
  padding: 8px 12px;
  max-width: 80%;
  color: rgb(84, 84, 84);
  font-size: 0.75rem;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--primaryGradient);
  box-shadow: var(--primaryBoxShadow);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 20px;
}

.chatbox__footer input {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: var(--first-color);
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.chatbox__button button:hover{
  background-color: var(--first-color-dark);
}

.chatbox__close {
  color: var(--first-color-lighten);
  float: right;
  cursor: pointer;
}

*, html {
  --primaryGradient: linear-gradient(93.12deg, var(--first-color), var(--first-color-dark));
  --secondaryGradient: linear-gradient(268.91deg, var(--first-color), var(--first-color-dark));
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: var(--first-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =======  Typewriter Font ===== */

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  font-weight: 550;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--first-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .025em; /* Adjust as needed */
  animation: 
    typing 2s steps(20, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--first-color) }
}

/* =======  Changing Theme ===== */
.change-theme{
  font-size: 1.25rem;
  color: var(--first-color-lighten);
  margin-right: var(--mb-1);
  cursor: pointer;
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: .3s;
}
.change-theme:hover{
  background-color: var(--first-color-dark);
}

body.dark-theme{
  --first-color: #8800ff;
  --first-color-dark: #9400c6; 
  --first-color-darken: #8400b0; 
  --text-color: #f4f4f4; 
  --first-color-light: #EAE7E6; 
  --first-color-lighten: #FFFAFA;
  --background-color: #302f2f;
  background-color: var(--background-color);
  --first-transparent-color:rgba(151, 44, 204, 0.7);
  --boxshadow:  0px 0px 15px rgba(255, 255, 255, 0.5);
  --nav-color: #54423d;
}

/* ===== CV BUTTON =====*/
.cv__button {
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  color: var(--first-color);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  margin-bottom: 5cm;
  background-color: var(--background-color);
}
.cv__button:hover {
  background: rgba(100, 0, 0, 0.03);
  color: var(--first-color-dark);
}
.button__horizontal, .button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.cv__button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.cv__button:hover .button__vertical {
  transform: scaleY(0);
}


/* ===== PARTICLE JS =====*/
#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 50%;
  height: 80%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0
}

#particles-js-2 canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js-2 {
  width: 27.5%;
  height: 80%;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  .home__button{
    width: initial;
  }

  .nav__menu{
    width: var(--nav-width);
  }

  .about__container,
  .skills__container,
  .works__container{
    grid-template-columns: repeat(2,1fr);
  }
  
  .about__data{
    text-align: initial;
  }

  .about__description{
    margin-bottom: var(--mb-5);
  }

  .about__img{
    width: 220px;
  }

  .about__information{
    padding-left: 4rem;
  }

  .education__time{
    padding: 0 2rem;
  }

  .footer{
    background: none;
  }

  .footer__container{
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: .5rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    margin: 0;
    padding-left: var(--nav-width);
  }

  .l-header{
    width: 0;
  }

  .nav__toggle, .nav__logo, .nav__close{
    display: none;
  }

  .nav__menu{
    left: 0;
  }

  .home__container{
    height: 100vh;
  }

  .section{
    padding: 3rem 0 2rem;
  }

  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 660px) {

  .timeline {
     width: 100%;
    padding: 4em 0 1em 0;
  }
  
  .timeline li {
    padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
  
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
  }
  
  .flag {
    background: rgb(255,255,255);
    z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: var(--first-color-lighten);
    border-radius: 10px;
    border: 4px solid var(--first-color);
    z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: var(--first-color-lighten);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }
  
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
    color: var(--first-color-darken);
  }
  
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
    z-index: 15;
  }

}

  @media screen and (max-width: 1300px) {
    .chatbox {
      display: none;
    }
    .sign-up__content {
      display: none;
    }
  }

  @media screen and (max-width: 1000px){
    #particles-js {
      width: 27.5%;
      height: 80%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0
    }
  }
  
  @media screen and (min-width: 1000px){
    #particles-js {
      width: 50%;
      height: 80%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0
    }
    #particles-js-2 {
      width: 30%;
      height: 80%;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0
    }
  }

  @media screen and (min-height: 1000px){
    #particles-js {
      width: 50%;
      height: 50%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0
    }
    #particles-js-2 {
      width: 37.5%;
      height: 50%;
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0
    }
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 1.43;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  input, button {
    appearance: none;
    outline: none;
  }
  
  input::-webkit-input-placeholder {
    color: transparent;
    user-select: none;
  }
  input::-moz-placeholder {
    color: transparent;
    user-select: none;
  }
  input:-moz-placeholder {
    color: transparent;
    user-select: none;
  }
  input:-ms-input-placeholder {
    color: transparent;
    user-select: none;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    -webkit-text-fill-color: inherit;
  }
  
  .input {
    flex: 1;
    width: 100%;
    transition: width 0.18s ease;
  }
  .input__container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40px;
    width: 100%;
  }
  .input__container.error {
    height: auto;
  }
  .input__container.error pre {
    padding: 8px 8px 0;
  }
  .input__label {
    position: absolute;
    padding: 0 8px;
    top: 0;
    color: #3d3c48;
    cursor: text;
    font-size: 16px;
    transition-property: top, font-size;
    transition-timing-function: linear;
    transition-duration: 0.18s;
  }
  .input__field {
    background: transparent;
    border: 0px solid #e5e5e6;
    border-bottom-width: 2px;
    padding: 6px 8px;
    font-size: 16px;
    transition: border 0.28s ease-out;
  }
  .input__field:required + .input__label:after {
    content: "*";
    color: red;
  }
  .input__field:focus, .input__field:not(:placeholder-shown) {
    border-color: #434176;
  }
  .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    font-size: 14px;
    top: -16px;
  }
  .input:hover .input__field:placeholder-shown:not(:focus) {
    border-color: #918fc1;
  }
  
  .input-checkbox__field {
    position: absolute;
    height: 18px;
    width: 18px;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .input-checkbox__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .input-checkbox__label {
    padding: 0 16px;
    color: #3d3c48;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25;
  }
  .input-checkbox__square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 18px;
    width: 18px;
    border: 1px solid #c5c5c9;
    border-radius: 4px;
    will-change: border, box-shadow;
    transition: border 0.28s ease-out, box-shadow 0.28s ease-out;
    z-index: 0;
  }
  .input-checkbox__square::before, .input-checkbox__square::after {
    content: "";
    display: inline-block;
    width: 2px;
    background: #e5e5e6;
    border-radius: 2px;
    transition: background 0.28s ease-out;
  }
  .input-checkbox__square::before {
    height: 4px;
    transform: rotate(-40deg) translate3d(-1.5px, 0px, 0);
  }
  .input-checkbox__square::after {
    height: 8px;
    transform: rotate(40deg);
  }
  .input-checkbox:hover .input-checkbox__square::before, .input-checkbox:hover .input-checkbox__square::after {
    background: #434176;
  }
  .input-checkbox__field:focus + .input-checkbox__square::before, .input-checkbox__field:focus + .input-checkbox__square::after, .input-checkbox__field:checked + .input-checkbox__square::before, .input-checkbox__field:checked + .input-checkbox__square::after {
    background: #434176;
  }
  .input-checkbox__field:hover + .input-checkbox__square {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.32);
  }
  .input-checkbox__field:focus + .input-checkbox__square {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.32);
  }
  .input-checkbox__field:checked + .input-checkbox__square {
    border-color: #434176;
  }
  
  .btn {
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    will-change: background, box-shadow;
    transition: background 0.28s ease-out, box-shadow 0.28s ease-out;
  }
  .btn--regular, .btn--line {
    padding: 16px 56px;
  }
  .btn--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  
  .component--primary .btn:disabled {
    opacity: 0.7;
    pointer-events: none;
  }
  .component--primary .btn--regular {
    background-color: #434176;
    color: #FFF;
  }
  .component--primary .btn--regular:hover {
    background-color: #6361a8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .component--primary .btn--regular:focus, .component--primary .btn--regular:active {
    background-color: #34335c;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }
  .component--primary .btn--regular:disabled {
    background-color: #5c5c5c;
  }
  
  .link {
    text-decoration: none;
    color: #434176;
    display: inline-block;
    text-decoration: underline;
    transition: color 0.28s ease-out;
  }
  .link:hover {
    color: #161627;
  }
  
  .form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .form__row {
    margin-bottom: 40px;
  }
  .form__row--two {
    margin: 0 -16px 0px;
  }
  @media screen and (min-width: 500px) {
    .form__row--two {
      display: flex;
    }
  }
  .form__inline-input {
    padding: 0 16px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 500px) {
    .form__inline-input {
      width: 50%;
      flex: 1 0 auto;
    }
  }
  .form__button {
    text-align: center;
    cursor: pointer;
  
  }
  #sign-up-button{
    background: var(--first-color);;
  }
  #sign-up-button:hover{
    color: var(--first-color);;
    transition: .5s;
    background: #fff;
  border: 1px solid #434176;
  }
  
  .sign-up {
    min-height: 1000px;
    width: 600px;
    margin-left: auto;
   margin-right: auto;
   margin-left: 400px;
  }
  
  .sign-up__image, .sign-up__content {
    flex: 1;
  }
  .sign-up__image {
    display: none;
    background-image: linear-gradient(210deg, #242348, #5A55AA);
    position: relative;
    overflow: hidden;
  }
  .sign-up__image svg {
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
  }
  @media screen and (min-width: 1000px) {
    .sign-up__image {
      display: block;
    }
  }
  .sign-up__content {
    width: 350px;
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 4vh 24px 10vh;
    background-color: #f9f9f9;
    box-shadow: 
  rgba(0, 0, 0, 0.25) 
  0px 14px 28px;
  position: fixed;
  bottom: 115px;
  right: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }

  .feedback__footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  background: var(--primaryGradient);
  box-shadow: var(--primaryBoxShadow);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 20px;
  }
  .sign-up__header {
    margin-bottom: 48px;
    text-align: center;
  }
  .sign-up__title {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #434176;
  }
  .sign-up__descr {
    font-size: 1.0rem;
    color: rgba(67, 65, 118, 0.4);
  }
  .sign-up__form {
    width: 100%;
  }
  .sign-up__sign, .sign-up__terms {
    text-align: center;
    margin-bottom: 20px;
  }
  .sign-up__sign {
    margin-top: -8px;
  }
  .sign-up__terms {
    margin-top: 80px;
  }
  
  .chart .a {
    fill: url(#a);
  }
  .chart .b {
    clip-path: url(#b);
  }
  .chart .c {
    opacity: 0.201;
  }
  .chart .d, .chart .g {
    opacity: 0.7;
  }
  .chart .d {
    fill: url(#c);
  }
  .chart .e, .chart .h, .chart .k {
    fill: none;
  }
  .chart .e {
    stroke: #a3a0fb;
  }
  .chart .e, .chart .f, .chart .h, .chart .i {
    stroke-width: 2px;
  }
  .chart .f, .chart .i {
    fill: #fff;
  }
  .chart .f {
    stroke: #a4a1fb;
  }
  .chart .g {
    fill: url(#e);
  }
  .chart .h {
    stroke: #54d8ff;
  }
  .chart .i {
    stroke: #55d8fe;
  }
  .chart .j {
    stroke: none;
  }